*
font-size: .75rem;{
	font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

body
{
	background-color:#F6F8FC;	
}

/*---title----*/

icon
{
	height=10px;
}

/*---Side bar ----*/

.side_menu
{
	background-color:#EAF1FB;
	width:70px;
	height:97vh;
}

.menu_logo_btn
{
	border:none;
	height:50px;
	width:50px
}

.menu_logo_btn:hover
{
	background-color:#3c404314;
}

.menu_logo_btn img
{
	margin: 15px 0px 0px 15px;
}

.envelope_logo_btn
{
	border:none;
	height:33px;
	width:45px;
	background-color:#D3E3FD;
	margin-left:12px;
}	

.envelope_logo_btn img
{
	margin:4px 0px 0px 11px ;
}

.envelope_logo_btn label
{
	font-size: .75rem;
	color: #1f1f1f;
    	font-weight: 500;
	margin:6px 0px 0px 10px;
}

.chat_meet_logo
{
	border:none;
	height:33px;
	width:45px;
	margin:25px 0px 0px 12px;
}

.chat_meet_logo:hover
{
	background-color:#dadce0;
}

.chat_meet_logo img
{
	margin:4px 0px 0px 12px ;
}

.chat_meet_logo label
{
	font-size: .75rem;
	color: #1f1f1f;
    	font-weight: 500;
	margin-left:10px;
}

.input_group i
{
	opacity:0.8;
}

.input_group
{
	background-color:#EAF1FB;
	height:48px;
	width:44vw;
}

.input_group input
{
	width:38vw;	
}

.input_group input:focus
{
	outline:none;	
}

.mail_logo_head img
{
	margin: 12px 0px 0px 22px;
}


.header_active_btn
{
    	background-color: #eaf1fb;
    	border: none;
    	height: 48px;
	cursor: pointer;
    	padding: 16px 11px;
	margin:0px 0px 0px 34px;
}

.active_green_dot
{
	border: none;
    	background-color: #1e8e3e;
    	border-radius: 50%;
    	height: 12px;
    	width: 12px;
}

.active_btn_text 
{
    	color: #1f1f1f;
    	text-shadow: none;
	font-size: 0.875rem;
    	font-weight: 500;
	margin: -3px 0px 0px 7px;
}

.header_icons img	
{
	opacity:0.8;
}

.user_logo
{
	height:48px;
	border-radius: 8px;
}

.header_main_dflex
{
	width:95%;
}



/*----------------------NAV-BAR-----------------*/

.compose_btn
{
    	background-color: #C2E7FF;
    	border: none;
    	border-radius: 16px
}

.compose_btn:hover
{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.compose_btn img
{
	float:left;
}



.compose_btn span
{
	font-size: 0.875rem;
    	color: #001d35;
	font-weight: 500;
}

.nav_inbox
{
	background-color:#D3E3FD;
}

.nav_inbox strong
{
	opacity:0.8;
}

.nav_icons:hover
{
	background-color:#3c404314;
}

.nav_icons label
{
	font-size: 15px;
	color: rgb(32, 33, 36);	
	opacity:0.9;
}

.nav_labels label
{
	font-size:16px;
	opacity:0.8;
	font-weight:500;
}

.nav_labels div:hover
{
	background-color:#3c404314;	
}

.nav_labels div
{
	height:35px;
	width:35px;
}

/*-----------Message-Box----------*/

.msg_top
{
	border-radius:20px 20px 0px 0px;
}
.square_dropdown
{
    	width: 20px;
	height: 38px;
}



.square_dropdown:hover
{
    	background-color:#3c404314;
}

.msg_top_left_icons
{
	height:48px;
}

.ref_dot_icon 
{
	height:35px;
	width:35px;
}

.ref_dot_icon:hover 
{
	background-color:#3c404314;
}

.message_nos
{
	width: 8vw;
    	height: 6vh;
}
.message_nos:hover
{
	background-color:#3c404314;
}

.message_nos label
{
	font-size: .75rem;
	color: #5e5e5e;
}

.msg_top_right img
{
	transform:rotate(90deg);
}

.msg_top_right img:nth-child(2)
{
	transform:rotate(270deg);
}
/*----------Messages----------*/

.messages
{
	background-color:#EAF1FB;
	height:auto;
	margin-top:1px;
}

.messages:hover
{
	    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.message_col_2
{
	max-width:20%;	
}

.message_col_2 span
{
	font-size:15px
	color: #202124;
	white-space: nowrap;
}

.message_col_1 img
{
	opacity:0.5;
}

.message_col_3
{
	width:22%;
}

.message_col_3 span
{
	font-size:.875rem;
	color: #202124;
	white-space: nowrap;
}

.message_col_4
{
	max-width:62%;
}

.message_col_4 div
{
	overflow: hidden;
  	text-overflow: ellipsis; 
	white-space: nowrap;
	font-size: .875rem;
    	color: #5f6368;	
}

.message_col_5 span
{
	width:15%;
}

.message_col_5 span
{
	font-size: .875rem;
    	color: #5f6368;	
	white-space: nowrap;
}

.message_content
{
	width:75%;
}

.message_on_md img
{
	opacity:0.5;	
}

.message_on_md a
{
	font-size:.875rem;
	white-space: nowrap;	
}

.message_container
{
	overflow-y:scroll;
	height:80vh;
}

.header_mobile a
{
	margin-left:auto;
}

.input_bar
{
	background: #f1f1f1;
    	border-bottom: 1px solid #d8d8d8;
}

.input_bar img
{
	vertical-align:0px;
}

.input_bar button
{
	height: 30px;
    	width: 40px;
}

.header_mobile_heading 
{
    	font-size: 16px;
    	opacity: 0.8;
}

.header_mobile_txt {
    font-size: 13px;
    opacity: 0.8;
}

.inbox_search input
{
	border:none;
}

.inbox_search input:focus
{
	outline:none;
}

.message_col_1 div:hover
{
	background-color:#3c404314;
}

.message_col_1 div
{
	height: 30px;
    	width: 30px;
    	border-radius: 50%;
}

.search_img
{
    	height: 34px;
    	width: 34px;
    	border-radius: 50%;
}


.search_img:hover
{
	background-color:#3c404314;
}